---
import ContentSection from "~/components/content-section.astro";
import socia from "~/assets/socia.jpg";
---

<ContentSection title="Socialización" id="compatibility">
  <!-- <Fragment slot="lead">
  La Socialización <span class="text-primary">Presupuesto Participativo</span>. {" "}
    <span class="text-primary">framework</span>
    and deploy to your favorite <span class="text-primary">platform</span>.
  </Fragment> -->

  <img src={socia.src} alt="Astro compatibility" class="w-full h-auto max-w-lg mx-auto" />

</ContentSection>
