---
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Promo 1",
    description:
      "Que es la blockchain? y como se relaciona con el arte y la cultura en Medellín.",
   
    videoUrl: "https://ia600701.us.archive.org/2/items/RadioCypher-Promos/Capitulo_1_Reel_1.mp4", // URL del video
  
  },
  {
    title: "Promo 2",
    description:
      "Mitos que matan la web 3 y la blockchian, cuidados y precauciones para no caer en ellos.",
    videoUrl: "https://ia600701.us.archive.org/2/items/RadioCypher-Promos/Capitulo_2_Reel.mp4", // URL del video
  
  },
  {
    title: "Promo 3",
    description:
      "Hablando sobre experiencias de exito en el ecosistema de web3 y blockchain en Medellín.",
  
    videoUrl: "https://ia800701.us.archive.org/2/items/RadioCypher-Promos/Capitulo_3_Reel.mp4", // URL del video
  
  },

];
---

<ContentSection title="Promos" id="features">
  <!-- <Fragment slot="lead">
    Astro comes <span class="text-primary">batteries included</span>. It takes
    the best parts of
    <span class="text-primary">state-of-the-art</span>
    tools and adds its own <span class="text-primary">innovations</span>.
  </Fragment> -->
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, videoUrl }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
        
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
          {videoUrl && (
            <video
              width="296"
              height="515"
              src={videoUrl}
             autoplay="false"
              
              controls
            ></video>
          )}
        </li>
      ))
    }
  </ul>
</ContentSection>
