---

---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">

  </div>
  <div class="bg-gray-800 w-full h-full flex flex-col md:flex-row justify-center items-center px-8 gap-4">
    <p class="text-white  text-center max-w-md pr-8">
      Este proyecto es apoyado
      <br>con recursos del programa de planeación
      <br>y Desarrollo Local Presupuesto Participativo de Cultura
    </p>
    <img src="https://raw.githubusercontent.com/platohedro/CypherRadio-PP/refs/heads/main/src/assets/logo_footer2.png" alt="Logo" class="h-24 w-auto"/>
  </div>
</footer>
