---
import leftLogo from "~/assets/socia.jpg";
import rightLogo from "~/assets/socia.jpg";
---
<div class="flex justify-between items-center p-4 w-full">
   
    <img src={leftLogo.src} alt="Left Logo" class="max-w-[100px] h-auto md:max-w-[75px] sm:max-w-[50px]" />
    <img src={rightLogo.src} alt="Right Logo" class="max-w-[100px] h-auto md:max-w-[75px] sm:max-w-[50px]" />
</div>
